{% extends '@SolidInvoiceCore/Layout/Email/base.html.twig' %}

{%- block title -%}
    {{ 'reset_password.subject'|trans({'%username%': user.email}, 'email') }}
{%- endblock -%}

{%- block content -%}
    {% apply nl2br %}
        {% autoescape false %}
            {{ 'reset_password.message_html'|trans({'%username%': user.email}, 'email') }}
        {% endautoescape %}
        {{ 'This link will expire in %resetTimestamp%.'|trans({'%resetTimestamp%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
    {% endapply %}
    <table class="button expand large float-center">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <a href="{{ url('_user_password_reset', {'token': resetToken.token}) }}" rel="external" target="_blank">{{ 'reset_password.button_text'|trans([], 'email') }}</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{%- endblock -%}
