<div {{ attributes }}>
    <h3 id="client-credit-value">
        {{ client.credit|formatCurrency }}
    </h3>
    <a href="#" rel="tooltip" title="{{ 'client.view.actions.add_credit'|trans }}" data-toggle="modal" data-target="#add-client-credit">
        <i class="fas fa-plus-circle"></i> {{ 'client.stats.credit'|trans }}
    </a>

    <twig:BootstrapModal id="add-client-credit">
        <twig:block name="modal_header">
            <h5>{{ 'client.modal.add_credit'|trans }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </twig:block>
        <twig:block name="modal_body">
            <div class="row-fluid">
                {{ form(form) }}
            </div>
        </twig:block>
        <twig:block name="modal_footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
            <button type="button" class="btn btn-primary" data-action="live#action:prevent" data-live-action-param="save">{{ 'Save'|trans }}</button>
        </twig:block>
    </twig:BootstrapModal>
</div>
