<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            {{ 'Profile'|trans }}
        </h3>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills nav-sidebar flex-column sidebar-menu" role="tablist">
            {# <li class="nav-header nav-item first">
                <span> <p>User Profile Settings</p></span>
            </li> #}
            <li class="nav-item">
                <a href="{{ path('_profile') }}" class="nav-link{{ menuItem is defined and menuItem is same as('profile') ? ' active'}}">
                    {{ icon('user') }}

                    <span class="icon">{{ 'Profile'|trans }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('_change_password') }}" class="nav-link{{ menuItem is defined and menuItem is same as('change-password') ? ' active'}}">
                    {{ icon('lock') }}

                    <span class="icon">{{ 'Change Password' }}</span>
                </a>
            </li>
            {# <li class="nav-header nav-item first">
                <span> <p>Company Specific Settings</p></span>
            </li> #}
            <li class="nav-item">
                <a href="{{ path('_profile_notifications') }}" class="nav-link{{ menuItem is defined and menuItem is same as('notification') ? ' active'}}">
                    {{ icon('bell') }}

                    <span class="icon">{{ 'Notifications'|trans }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('_api_keys_index') }}" class="nav-link{{ menuItem is defined and menuItem is same as('api-tokens') ? ' active'}}">
                    {{ icon('user-secret') }}

                    <span class="icon">{{ 'API Keys'|trans }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>

